<div  id="chart">

</div>
<form data-ng-init="init()">
    <div class="checkbox">
        <label><input type="checkbox" checked value="" ng-click="changeVisibility('Top')">Top</label>
    </div>
    <div class="checkbox">
        <label><input type="checkbox" checked value="" ng-click="changeVisibility('Jungle')">Jungle</label>
    </div>
    <div class="checkbox disabled">
        <label><input type="checkbox" checked value="" ng-click="changeVisibility('Middle')">Middle</label>
    </div>
    <div class="checkbox">
        <label><input type="checkbox" checked value="" ng-click="changeVisibility('ADC')">ADC</label>
    </div>
    <div class="checkbox">
        <label><input type="checkbox" checked value="" ng-click="changeVisibility('Support')">Support</label>
    </div>
    <br>
</form>