<div class="row" ng-controller="MainCtrl">
    <div id="chart" class="col-xs-12 col-sm-12 col-md-11 col-lg-11">

    </div>
    <form data-ng-init="init()" class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
        <div id="roleCheck">
            <div class="checkbox roleBox">
                <label><input type="checkbox" checked value="" ng-click="changeVisibility('Top')">Top</label>
            </div>
            <div class="checkbox roleBox">
                <label><input type="checkbox" checked value="" ng-click="changeVisibility('Jungle')">Jungle</label>
            </div>
            <div class="checkbox roleBox">
                <label><input type="checkbox" checked value="" ng-click="changeVisibility('Middle')">Middle</label>
            </div>
            <div class="checkbox roleBox">
                <label><input type="checkbox" checked value="" ng-click="changeVisibility('ADC')">ADC</label>
            </div>
            <div class="checkbox roleBox">
                <label><input type="checkbox" checked value="" ng-click="changeVisibility('Support')">Support</label>
            </div>
        </div>
    </form>
</div>
<br>