<div class="row container-fluid" ng-controller="MainCtrl">
    <div id="chart" class="col-xs-12 col-sm-12 col-md-10 col-lg-10">

    </div>
    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2" data-ng-init="init()">
        <form>
            <div id="roleCheck">
                <div class="checkbox roleBox">
                    <label><input type="checkbox" checked name="roleBox" id="topCheckbox" value="Top">Top</label>
                </div>
                <div class="checkbox roleBox">
                    <label><input type="checkbox" checked name="roleBox" id="jungleCheckbox" value="Jungle">Jungle</label>
                </div>
                <div class="checkbox roleBox">
                    <label><input type="checkbox" checked name="roleBox" id="middleCheckbox" value="Middle">Middle</label>
                </div>
                <div class="checkbox roleBox">
                    <label><input type="checkbox" checked name="roleBox" id="ADCCheckbox" value="ADC">ADC</label>
                </div>
                <div class="checkbox roleBox">
                    <label><input type="checkbox" checked name="roleBox" id="supportCheckbox" value="Support">Support</label>
                </div>
            </div>
            <div id="champSearchBar">
                <label> Search for a champ: <input type="text" ng-model="champName" ng-keyup="filterVisibilityByName()" autofocus></label>
            </div>
        </form>
    </div>
</div>
<br>